<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportDesigner.Properties.Settings.mrendzpc_CoffeeManagement"
            connectionString="server=103.97.125.254;user id=mrendzpc_mrend;database=mrendzpc_CoffeeManagement;password=Hien1712"
            providerName="MySql.Data.MySqlClient" />
        <add name="ReportDesigner.Properties.Settings.mrendzpc_CoffeeManagementConnectionString"
            connectionString="server=103.97.125.254;user id=mrendzpc_llhh;password=Longhuynh;database=mrendzpc_CoffeeManagement"
            providerName="MySql.Data.MySqlClient" />
        <add name="ReportDesigner.Properties.Settings.mrendzpc_CoffeeManagementConnectionString1"
            connectionString="server=103.97.125.254;user id=mrendzpc_llhh;database=mrendzpc_CoffeeManagement;password=Longhuynh;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>